body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emo_name ,#result_emo_name2  
{
  color:rgb(252, 6, 215);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

label{
  background-color:aliceblue;
  color:darkblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
